*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*para tira as linhas e pontos dos links*/
    text-decoration: none;
    list-style: none;
}

:root{
    --cor: var(--cor) #101113;
    --tex-color: #FFFF;
    --main-color: #34e7f8 ;
    --h1-font: 4rem;
    --p-font: 1rem;
}

body{
    background-color: #101113;
    color: white;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
}
.logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.logo i{
    color: white;
    font-size: 30px;
    margin-right: 5px;
}
.navega{
    display: flex;
}
.navega a{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navega a:hover{
    color: #34e7f8;
}

.header-icons{
    display: flex;
    align-items: center;
}

#menu{
    font-size: 35px;
    color: white;
    z-index: 10001;
    cursor: pointer;
}
.header-icons i{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}
.header-icons i:hover{
    transform: translateY(-5px);
    color: #34e7f8;
}

.section{
    padding: 0 15%;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.home-descrition h1{
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 2px;
}
.home-descrition h5{
    color: #ff9;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
}
.home-descrition h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

.home-img img{
    max-width: 100%;
    width: 40rem;
    height: auto;
    margin-left: 20%;
}

.btn{
    display: inline-block;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: solid 1px #34e7f8;
    transition: all .55 ease;
    color: white;
}
.btn:hover{
    background: white;
    border: 2px solid white;
    color: #101113;
}